@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 203 71% 10%;
    --card: 0 0% 100%;
    --card-foreground: 203 71% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 203 71% 10%;
    --primary: 203 71% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 38% 48%;
    --secondary-foreground: 0 0% 100%;
    --muted: 200 42% 90%;
    --muted-foreground: 203 38% 35%;
    --accent: 200 42% 75%;
    --accent-foreground: 203 71% 20%;
    --tertiary: 200 42% 75%;
    --tertiary-foreground: 203 71% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 200 30% 85%;
    --input: 200 30% 85%;
    --ring: 203 71% 20%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

